* { 
    margin: 0;
    padding: 0;
}

body {
    width: 40%;
    margin: auto;
    background-color: #888;
    /* border: #444 ridge;
    border-radius: 20%; */
}

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "form1"
      "form2"
      "form3";
  }
  
  .form1 { grid-area: form1; }
  
  .form2 { grid-area: form2; }
  
  .form3 { grid-area: form3; }

  legend {
    display: block;
    border: solid #000 thin;
    background-color: #FFF;
    padding: 0.5rem;
  }
  
  .form1 fieldset, .form2 fieldset, .form3 fieldset {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .form1 fieldset > *:not(select), .form2 fieldset > *:not(select), .form3 fieldset > *:not(select) {
    padding: 0.5rem 0.5rem 0.5rem 0rem;
  }

  input {
    width: 60%;
  }

  select {
    width: 15%;
  }